[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[packages]
"beautifulsoup4" = "*"
celery = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
django-environ = "==0.4.4"
django-minio-storage = "==0.1.0"
flower = "*"
gevent = "==1.2.2"
gunicorn = "==19.7.1"
minio = "==2.2.1"
"psycopg2-binary" = "==2.7.4"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests = "*"
unicodecsv = "*"
"urllib3" = "*"
whitenoise = "==3.3.1"
Django = "==2.1.10"
django_celery_beat = "*"
django_celery_results = "*"
django-allauth = "*"
django-sekizai = "*"
django-widget-tweaks = "*"
social-auth-app-django = "*"
luminol = {editable = true, git = "https://github.com/gis4dis/luminol.git", ref = "ee3def88038c2a0d4e45d8a6ecfca1e48a6c1f88"}
django-relativedelta = "*"
pip = "==18.1"
django-extensions = "*"
ipywidgets = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]
django-debug-toolbar = "*"
