body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.login-form {
    width: 280px;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.card.no-height {
    height: inherit;
}

.card.small .card-image .carousel {
    height:200px !important;
}
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: none !important;
}

#user-bar {
    padding: 10px;
}

#app-selector {
    position: absolute;
    top:100px;
    left:250px;
    z-index: 9999;
}
.sidenav .divider {
     margin: 0;
}